<h2>Edit Post</h2>

<form>
  <input value="PostEditViewModel.post.title" data-ng-model="PostEditViewModel.post.title" />
  <input value="PostEditViewModel.post.authorName" data-ng-model="PostEditViewModel.post.authorName" />
  <input value="PostEditViewModel.post.photoUrl" data-ng-model="PostEditViewModel.post.photoUrl" />
  <textarea value="PostEditViewModel.post.content" data-ng-model="PostEditViewModel.post.content"></textarea>
  <button data-ng-click="PostEditViewModel.update()">Update</button>
  <button data-ng-click="PostEditViewModel.destroy()">Delete</button>
</form>
